<div class="col-sm-12">
  <div class="card">
      {{#if this.err}}
    <div class="alert alert-danger text-center" role="alert">
      {{err}}
    </div>
    {{/if}}
      {{#if this.success}}
    <div class="alert alert-success text-center" role="alert">
      {{success}}
    </div>
    {{/if}}
    <div class="card-header d-flex justify-content-between">
    

      <h4>Products</h4>
      <a class="btn btn-outline-success" href="/admin/products/add" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Product
      </a>
    </div>
    {{#if this.empty}}
    <div class="card-body">
      <p class="card-text">Không có dữ liệu.</p>
    </div>
    {{else}}
    <table id="example1" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Image</th>
          <th scope="col">Product</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Sold</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.products}}
        <tr>
          <th scope="row" class="text-center">{{product_id}}</th>
          <td style="width:50px"><img src="/public/images/{{product_image}}" style="height: 100px;"></td>
          <td>{{product_name}}</td>
          <td>{{brand_name}}</td>
          <td>{{category_name}}</td>
          <td>{{product_price}}</td>
          <td>{{product_quantity}}</td>
          <td>{{product_sell}}</td>


          <td class="text-right">
            <a class="btn btn-primary btn-sm" href="/admin/products/edit/{{product_id}}" role="button"
              title="Edit product">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-danger btn-sm delete" data-toggle="modal" data-target="#exampleModal"
              title="Delete Category" value="{{product_id}}-{{product_name}}">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>

    </table>
   
    {{/if}}
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/admin/categories/del">
        <div class="modal-body">
          Do you want to delete <span id="Cate_Name" style="font-weight: bold;"> </span> out of list ?


          <input type="hidden" class="form-control" id="txtCatID" name="product_id" value="">

          {{!-- <button type="submit" class="btn btn-danger" title="Remove Category" formaction="/admin/categories/del">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button> --}}

        </div>
        <div class="modal-footer">
          <a class="btn btn-success" href="/admin/products" role="button" title="Back to List">No </a>
          <button type="submit" class="btn btn-primary" title="Remove Category"
            formaction="/admin/products/del">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>