<div class="col-sm-12 d-flex justify-content-center " style="min-height: 90vh;">

  <div class="card col-4" style="margin:300px">

    <form method="get" action="/search">


      <table class="table table-hover text-center">
        <thead>
          <tr>

            <th scope="col">Search your order</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          <tr>

            <td style="width: 100%;"><input type="number" name="customer_phone" id="customer_phone">
              <button type="submit" id="search">
                Search
              </button>
            </td>





          </tr>

        </tbody>
      </table>
    </form>
    {{#if this.empty}}
    <div class="card-body">
      <p class="card-text">Không có dữ liệu.</p>
    </div>
    {{else}}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col">Date</th>
          <th scope="col">Estimate date delivery</th>
          <th scope="col">Total</th>
          <th scope="col">Status</th>
          <th scope="col">Payment</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.list}}
        <tr>
          <th scope="row" class="text-center">{{order_id}}</th>

          <td>{{order_date}}</td>
          <td>{{ order_estimated_date}}</td>
          <td>{{Total}}</td>
          <td>{{status_name}}</td>
          <td>{{payment_name}}</td>



          <td class="text-right">

            <button type="button" class="btn btn-primary btn-sm order_detail" data-toggle="modal"
              data-target="#order_detail_Modal" title="Order detail" value="{{order_id}}">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm delete" data-toggle="modal" data-target="#exampleModal"
              title="Delete Category" value="{{order_id}}-{{order_id}}">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <input type="hidden" value="{{status_id}}" class="list_status">
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/del">
        <div class="modal-body">
          Do you want to delete Order_ID: <span id="Cate_Name" style="font-weight: bold;"></span> out of list ?

          <input type="hidden" id="customer_phone1" name="customer_phone1">
          <input type="hidden" class="form-control" id="txtCatID" name="order_id" value="">

          {{!-- <button type="submit" class="btn btn-danger" title="Remove Category" formaction="/admin/categories/del">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button> --}}

        </div>
        <div class="modal-footer">

          <button type="submit" class="btn btn-primary" title="Remove Category" formaction="/del"
            id="confirm">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="order_detail_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col">Image</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody id="body">

          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <p class="text-left" style="font-weight: bold;">Total:</p>
        <p id="Total" style="font-weight: bold;"></p>

      </div>
      </form>
    </div>
  </div>
</div>


<script>
  $(".order_detail").click(function (e) {
    e.preventDefault();

    var order_id = $(this).val();

    $.ajax({
      type: "POST",
      url: '/admin/orders/detail',
      data: { order_id: order_id },
      success: function (result) {
        $("#body").empty();
        var total = 0;
        var data = JSON.parse(result)
        for (let i = 0; i < data.length; i++) {
          total = parseInt(data[i].Total) + total;
          $("#body").append(`<tr>
              <th scope="row" class="text-center" >${i + 1}</th>
                <td><img src="../../public/images/${data[i].product_image}" style="height: 100px;"></td>
              <td>${data[i].product_name}</td>
               <td>${data[i].product_price}</td>
              <td>${data[i].quantity}</td>
               <td>${data[i].Total}</td>
              {{!-- <td class="text-right">
                 <button type="button" class="btn btn-success btn-sm order_item" data-toggle="modal" data-target=".bd-example-modal-lg2"
              value="${data[i].order_id}">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </button> --}}
             
              </td>
            </tr>`)

        }

        $("#Total").html(total)

      }
    });
  });



</script>


<script>



  $(".delete").click(function (e) {
    e.preventDefault();
    let searchParams = new URLSearchParams(window.location.search)
    let param = searchParams.get('customer_phone')
  
    var origin_string = $(this).val();
    var split_string = origin_string.split("-");
    document.getElementById("Cate_Name").innerText = split_string[1]
    console.log(split_string)
    $('#txtCatID').val(split_string[0])
    $('#customer_phone1').val(param)
  });
</script>

<script>
  $(document).ready(function () {

    var delete_buttons = document.getElementsByClassName("delete")
    var list_status = document.getElementsByClassName("list_status")
    for (let i = 0; i < delete_buttons.length; i++) {
      if (parseInt(list_status[i].value) !== 1) {

        delete_buttons[i].style.cssText = "display:none;"
      }
    }


  });

</script>