<div class="col-sm-12 d-flex justify-content-center ">
<div class="card">
  <div class="card-header">
    <h4>Edit customer information</h4>
  </div>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input type="text" class="form-control" id="txtCatID" name="customer_id" readonly value="{{this.customer.customer_id}}">
      </div>
      <div class="form-group">
        <label for="">First name</label>
        <input type="text" class="form-control" id="" name="customer_firstname" autofocus
          value="{{this.customer.customer_firstname}}">
      </div>
      <div class="form-group">
        <label for="">Last name</label>
        <input type="text" class="form-control" id="" name="customer_lastname" autofocus
          value="{{this.customer.customer_lastname}}">
      </div>
      <div class="form-group">
        <label for="">Phone</label>
        <input type="text" class="form-control" id="" name="customer_phone" autofocus
          value="{{this.customer.customer_phone}}">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" id="" name="customer_mail" autofocus
          value="{{this.customer.customer_mail}}">
      </div>
       <div class="form-group">
        <label for="">Street</label>
        <input type="text" class="form-control" id="" name="customer_street" autofocus
          value="{{this.customer.customer_street}}">
      </div>
       <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" id="" name="customer_city" autofocus
          value="{{this.customer.customer_city}}">
      </div>
       <div class="form-group">
        <label for="">State</label>
        <input type="text" class="form-control" id="" name="customer_state" autofocus
          value="{{this.customer.customer_state}}">
      </div>
      <a class="btn btn-success" href="/admin/customers" role="button" title="Back to List">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
      {{!-- <button type="submit" class="btn btn-danger" title="Remove customer" formaction="/admin/categories/del">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button> --}}
      <button type="submit" class="btn btn-primary" formaction="/admin/customers/update">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
</div>