<div class="col-sm-12">
  <div class="card">
    {{#if this.err}}
    <div class="alert alert-danger text-center" role="alert">
      {{err}}
    </div>
    {{/if}}
    {{#if this.success}}
    <div class="alert alert-success text-center" role="alert">
      {{success}}
    </div>
    {{/if}}
    <div class="card-header">
      <h4>Customers</h4>

    </div>
    {{#if this.empty}}
    <div class="card-body">
      <p class="card-text">Không có dữ liệu.</p>
    </div>
    {{else}}
    <table id="example1" class="table table-striped table-bordered table-hover" style="width:100%">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Last name</th>
          <th scope="col">First name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Street</th>
          <th scope="col">City</th>
          <th scope="col">Region</th>
          <th scope="col">&nbsp;</th>
        </tr>

      </thead>
      <tbody>
        {{#each this.customers}}
        <tr>
          <th scope="row" class="text-center">{{customer_id}}</th>
          <td>{{customer_lastname}}</td>
          <td>{{customer_firstname}}</td>
          <td>{{customer_phone}}</td>
          <td>{{customer_mail}}</td>
          <td>{{customer_street}}</td>
          <td>{{city_name}}</td>
          <td>{{state_name}}</td>
          <td class="text-right">
            <a class="btn btn-primary btn-sm " href="/admin/customers/edit/{{customer_id}}" role="button">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>

            {{!-- <button type="button" class="btn btn-success btn-sm shoppingcart" data-toggle="modal"
              data-target=".bd-example-modal-lg" value="{{customer_lastname}} {{customer_fisrtname}}">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button> --}}
            <a class="btn btn-success btn-sm shoppingcart" href="/admin/orders/?query={{customer_lastname}} {{customer_firstname}} {{customer_phone}}" role="button">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>

    </table>
    {{/if}}
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</div>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Total orders</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col">Date</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">Payment</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody id="body">



          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


