<div class="col-sm-12">
<div class="card">
  <div class="card-header">
    <h4>Customers</h4>
    
  </div>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.products}}
      <tr>
        <th scope="row" class="text-center">{{ProID}}</th>
        <td>{{ProName}}</td>
        <td>{{Price}}</td>
        <td>{{Quantity}}</td>
        <td class="text-right">
          <a class="btn btn-primary btn-sm" href="javascript:;" role="button">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
</div>