<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">Home</a>
            {{#each lcBrands}}
            <a class="navbar-brand" href="/list/?nameBrand={{brand_name}}&id={{brand_id}}">{{brand_name}}</a>
            {{/each}}
             <p class="navbar-brand" href="#">||</p>
          {{#each lcCategories}}
            <a class="navbar-brand" href="/list/?nameCategory={{category_name}}&id={{category_id}}">{{category_name}}</a>
            {{/each}}
            {{!-- {{#each lcCategories}}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"> {{category_name}} </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        {{#each ../lcBrands}}
                        <li><a class="dropdown-item" href="#">{{brand_name}}</a></li>
                        {{/each}}

                    </ul>
                </li>
            </ul>
            {{/each}} --}}
            <div>

            <a class="navbar-brand" href="/shopping-cart"> 
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
            <a href="/search" class="navbar-brand"> <i class="fa fa-search" aria-hidden="true"></i> </a>
           
            
            </div>
        </div>
    </nav>
</div>